.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    ion-icon {
        font-size: 24px;
    }

    ion-title {
        padding: 0;
        margin-left: 10px;
    }
}

.item {
    padding: 20px;
    display: grid;
    grid-template-columns: 100px auto;
    border-bottom: 1px solid var(--ion-color-medium);

    &__day {
        font-weight: bold;
        margin-top: 10px;
    }

    &__meal {
        margin-left: 10px;
    }
}

.generate {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 40px;
}
