.item {
    padding: 20px;
    display: grid;
    grid-template-columns: 100px auto;
    border-bottom: 1px solid gray;

    &__day {
        font-weight: bold;
        margin-top: 10px;
    }

    &__meal {
        margin-left: 10px;
    }
}